/* Start of global style */
:root {
    --primary-font: primary, sans-serif;
    --secondary-font: secondary, sans-serif;
}

@font-face {
    font-family: primary;
    src: url(./../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: secondary;
    src: url(./../fonts/Poppins/Poppins-Regular.ttf);
}

body {
    font-family: var(--secondary-font);
}

/* section {
    padding: 100px 0;
} */

.max-500 {
    max-width: 31.25rem;
}

/* End of global style */

/* Start of navbar */
.navbar {
    --bs-navbar-nav-link-padding-x: 0;
    /* --bs-navbar-nav-link-padding-y: 1; */
}

.navbar-nav {
    --bs-nav-link-padding-y: 0.15rem;
}

.nav a.navbar-brand {
    color: #1C1C1C;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    line-height: 3.75rem;
    letter-spacing: .0625rem;
    padding: .125rem 0 0;
    font-weight: 800;
}

.nav .navbar-nav>li.nav-item {
    color: #111111;
    font-size: 1.02rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.navbar-nav>li>a::after {
    content: "";
    width: 0;
    height: .1875rem;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-nav>li .active::after {
    width: 100%;
}

.navbar-nav>li>a::after {
    background: #222;
}

/* End of navbar */

/* Start of header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(./../images/bg.jpg);
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--primary-font), sans-serif;
}

.header h5 {
    font-size: 4.0625rem;
    font-weight: 800;
    line-height: 3.4375rem;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 2.25rem;
}

/* ***************************** if not typed.js ***************************** */
/* .header h1::after {
    content: "";
    font-weight: 500;
    animation: type-writer infinite 15s;
    -webkit-animation: type-writer infinite 15s;
} */

.header .icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #0000005a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 2.5rem .625rem 0 0;
    cursor: pointer;
}

/* End of header */

/* Start of about */
.about .about-img {
    position: relative;
    transform: translate(-3%, -3%);
    -webkit-transform: translate(-3%, -3%);
    -moz-transform: translate(-3%, -3%);
    -ms-transform: translate(-3%, -3%);
    -o-transform: translate(-3%, -3%);
}

.about .about-img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 75%;
    height: 100%;
    background-image: url(./../images/black-white-halftone-pattern-texture-background_84443-21975.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    transform: translate(-4%, 5%);
    -webkit-transform: translate(-4%, 5%);
    -moz-transform: translate(-4%, 5%);
    -ms-transform: translate(-4%, 5%);
    -o-transform: translate(-4%, 5%);
}

.about h3 {
    font-family: var(--primary-font);
    color: #343434;
    font-size: 2.425rem;
    line-height: 2.0625rem;
    margin-bottom: .75rem;
    font-weight: 800;
    text-transform: capitalize;
}

.about>span {
    font-family: var(--secondary-font);
    color: #999999;
    font-size: 1.1875rem;
    line-height: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}

.about p {
    font-family: var(--secondary-font);
    color: #748182;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    max-width: 45rem;
}

.progress {
    --bs-progress-height: 2.4rem;
    --bs-progress-font-size: 1em;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.btn {
    --bs-btn-padding-x: 2.75rem;
    --bs-btn-padding-y: 0.7rem;
    --bs-btn-font-family: var(--secondary-font);
    --bs-btn-hover-border-color: #000;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.about-btns>button:nth-child(1) {
    background-color: #000;
    color: #fff;
}

.about-btns>button:hover {
    background-color: transparent;
    color: #000;
}

.about-btns button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #000;
}

.about-btns button:nth-child(2):hover {
    background-color: #000;
    color: #fff;
}

/* End of about */

/* Start of Services */
.service h3 {
    font-family: var(--primary-font);
    color: #343434;
    font-size: 50px;
    line-height: 2.75rem;
    font-weight: 900;
    text-transform: capitalize;
    position: relative;
    z-index: 4;
}

.service h3::before {
    content: "";
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 40px;
    background-image: url(./../images/black-white-halftone-pattern-texture-background_84443-21975.png);
    background-position: 0 0;
    background-size: cover;
    display: flex;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.service .icon {
    width: 100px;
    height: 100px;
    background-color: #00000011;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.service .service-inner:hover .icon {
    background-color: #000;
}

.service .service-inner:hover i {
    color: #fff;
}

/* End of Services */