/* Start of global style */
:root {
    --primary-font: primary, sans-serif;
    --secondary-font: secondary, sans-serif;
    --bg-main: #F7F7F7;
    --bg-dark: #0000005a;
    --text-primary: #000;
    --text-secondary: #343434;
    --text-grey: #748182;
    --text-3: #fff;
    --text-4: #222;
    --text-5: #ffffffe0;
}

@font-face {
    font-family: primary;
    src: url(./../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: secondary;
    src: url(./../fonts/Poppins/Poppins-Regular.ttf);
}

body {
    font-family: var(--secondary-font);
}

.max-500 {
    max-width: 500px;
}

.bg-main {
    background-color: var(--bg-main);
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--text-5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 .625rem 0 0;
    cursor: pointer;
}

h3 {
    color: var(--text-secondary);
    font-family: var(--primary-font);
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    text-transform: capitalize;
}

section>.container>header>h3 {
    font-family: var(--primary-font);
    color: var(--text-secondary);
    font-size: 50px;
    line-height: 2.75rem;
    font-weight: 900;
    text-transform: capitalize;
    position: relative;
    z-index: 4;
    display: inline-block;
}

section>.container>header>h3::before {
    content: "";
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40px;
    background-image: url(./../images/black-white-halftone-pattern-texture-background_84443-21975.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: repeat-x;
    display: flex;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    opacity: 0.5;
}

h6.text {
    color: var(--text-secondary);
    font-family: var(--primary-font);
    font-size: 22px;
    line-height: 21px;
    margin-bottom: 15px;
    font-weight: 800;
}

.main-icon {
    width: 100px;
    height: 100px;
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

.inner:hover .main-icon {
    background-color: var(--text-primary);
}

.inner i {
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
}

.inner:hover i {
    color: var(--text-3);
}

p {
    color: var(--text-grey);
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    word-spacing: 3px;
}

.btn {
    --bs-btn-padding-x: 2.75rem;
    --bs-btn-padding-y: 0.7rem;
    --bs-btn-font-family: var(--secondary-font);
    --bs-btn-hover-border-color: var(--text-primary);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

/* End of global style */

/* Start of navbar */
.navbar {
    --bs-navbar-nav-link-padding-x: 0;
    --bs-navbar-nav-link-padding-y: 1;
    --bs-navbar-brand-font-size: 1.5rem;
    --bs-navbar-color: var(--text-primary);
    --bs-navbar-active-color: var(--text-primary);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.navbar-bg {
    background-color: var(--text-3);
}

.navbar-nav {
    --bs-nav-link-padding-y: 0.15rem;
}

.navbar.scrolled {
    background-color: var(--text-3);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.nav a.navbar-brand.scrolled {
    color: var(--text-primary);
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav a.custom-navbar-link {
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 1.5625rem;
    font-weight: 400;
    display: inline-block;
}

.navbar-nav>li>a::after {
    content: "";
    width: 0;
    height: .1875rem;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-nav>li a.active::after {
    width: 100%;
}

.navbar-nav>li>a::after {
    background: var(--text-primary);
}

.nav a.navbar-brand {
    font-family: var(--primary-font);
    line-height: 3.75rem;
    letter-spacing: .0625rem;
    padding: .125rem 0 0;
    font-weight: 800;
    color: var(--text-3);
}

.nav .navbar-nav>li.nav-item {
    font-size: 1.02rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-family: var(--secondary-font);
}

/* End of navbar */

/* Start of header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(./../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--primary-font), sans-serif;
}

.header h5 {
    font-size: 4.0625rem;
    font-weight: 800;
    line-height: 3.4375rem;
}

.header h1 {
    font-size: 3rem;
    font-weight: 200;
    line-height: 2.25rem;
}

/* ***************************** if not typed.js ***************************** */
/* .header h1::after {
    content: "";
    font-weight: 500;
    animation: type-writer infinite 15s;
    -webkit-animation: type-writer infinite 15s;
} */

/* End of header */

/* Start of about */
.about .about-img {
    position: relative;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
}

.about .about-img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 75%;
    height: 100%;
    background-image: url(./../images/black-white-halftone-pattern-texture-background_84443-21975.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    transform: translate(-4%, 4%);
    -webkit-transform: translate(-4%, 4%);
    -moz-transform: translate(-4%, 4%);
    -ms-transform: translate(-4%, 4%);
    -o-transform: translate(-4%, 4%);
}

.about>span {
    font-family: var(--secondary-font);
    color: var(--text-grey);
    font-size: 1.1875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
}

.about-content {
    --bs-gutter-x: 2.8rem;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.progress {
    --bs-progress-height: 2.4rem;
    --bs-progress-font-size: 1em;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.custom-btn {
    background-color: var(--text-primary);
    color: var(--text-3);
}

.about-btns>button:hover {
    background-color: transparent;
    color: var(--text-primary);
}

.about-btns button:nth-child(2) {
    background-color: transparent;
    border: 1px solid var(--text-primary);
}

.about-btns button:nth-child(2):hover {
    background-color: var(--text-primary);
    color: var(--text-3);
}

/* End of about */

/* Start of Services */

/* End of Services */

/* Start of work */
.work {
    font-family: var(--secondary-font);
}

.work .nav-pills {
    --bs-nav-pills-link-active-color: var(--text-4);
    --bs-nav-pills-link-active-bg: transparent;
    --bs-nav-pills-border-radius: none;
}

.work .nav {
    --bs-nav-link-font-weight: 700;
    --bs-nav-link-hover-color: var(--text-4);
    --bs-nav-link-color: var(--text-4);
}

.work .nav-link {
    position: relative;
    --bs-nav-link-font-size: 18px;
}

.work .custom-nav-link::after,
.nav-pills .show>.custom-nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: var(--text-4);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.work .custom-nav-link.active::after,
.work .custom-nav-link.show::after {
    width: 100%;
}

.work .fig-caption {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
}

.work .fig-caption h6 {
    color: var(--text-secondary);
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    opacity: 0;
}

.work .fig-caption .icon {
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.work figure.work-img::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0px;
    background-color: var(--text-5);
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    margin: 0 10px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.work .card:hover .fig-caption {
    top: 0;
}

.work figure.work-img:hover::before {
    opacity: 1;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.work figure.work-img:hover h6 {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    opacity: 1;
}

.work figure.work-img:hover .icon {
    opacity: 1;
}

.work .modal {
    --bs-modal-width: 100%;
    --bs-modal-color: var(--text-3);
    --bs-modal-bg: var(--bg-dark);
    --bs-modal-margin: 0;
    --bs-modal-border-color: transparent;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 0;
}

.work .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    --bs-btn-close-bg: url();
    --bs-btn-close-focus-shadow: var(--text-3);
    color: var(--text-3);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    height: 100%;
    justify-content: center;
}

/* End of work */

/* Start of client */
.client img {
    width: 7rem;
}

.client span {
    font-family: var(--secondary-font);
    color: var(--text-grey);
    font-size: 15px;
    line-height: 18.5px;
    margin-bottom: 3px;
    font-weight: 600;
}

.client .carousel-inner {
    cursor: grab;
    user-select: none;
}

.client .carousel-inner:active {
    cursor: grabbing;
}

.client .carousel-indicators [data-bs-target] {
    height: 15px;
    width: 14px;
    border-radius: 50%;
    background-color: var(--bg-dark);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 12px;
}

/* End of client */

/* Start of numbers */

/* End of numbers */

/* Start of team */
.team h4,
.team h5 {
    font-family: var(--primary-font);
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: capitalize;
}

.team .card {
    --bs-card-spacer-y: 1.5rem;
    --bs-card-spacer-x: 2rem;
}

.team img {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.team .card-inner:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.team .team-icons {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background-color: var(--text-5);
    z-index: 66;
    opacity: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .card-inner a {
    color: var(--text-3);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.team .card-inner .icon:hover a {
    color: var(--text-primary);
}

.team .card-inner .team-icons .icon {
    border: 0 solid var(--text-primary);
    background-color: var(--text-primary);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.team .card-inner .icon:hover {
    background-color: var(--text-3);
    border-width: 1px;
}

.team .card:hover .team-icons {
    opacity: 1;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    border-width: 1px;
    color: var(--text-primary);
}

/* End of team */

/* Start of contact */
.contact .inner>[class~="form-control"] {
    --bs-body-bg: var(--bg-main);
    --bs-border-width: 0;
}

.form-control:focus {
    box-shadow: none;
}

/* End of contact */

/* Start of footer */
.footer {
    background-color: var(--text-4);
}

/* End of footer */