/* Start of global style */
:root {
    --primary-font: primary, sans-serif;
    --secondary-font: secondary, sans-serif;
}

@font-face {
    font-family: primary;
    src: url(./../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: secondary;
    src: url(./../fonts/Poppins/Poppins-Regular.ttf);
}

.max-500 {
    max-width: 31.25rem;
}
/* End of global style */

/* Start of navbar */
.navbar {
    --bs-navbar-nav-link-padding-x: 0;
    /* --bs-navbar-nav-link-padding-y: 1; */
}

.navbar-nav {
    --bs-nav-link-padding-y: 0.15rem;
}

.nav a.navbar-brand {
    color: #1C1C1C;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    line-height: 3.75rem;
    letter-spacing: .0625rem;
    padding: .125rem 0 0;
    font-weight: 800;
}

.nav .navbar-nav > li.nav-item {
    color: #111111;
    font-size: 1.02rem;
    line-height: 1.25rem;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.navbar-nav > li > a::after {
    content: "";
    width: 0;
    height: .1875rem;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-nav > li .active::after {
    width: 100%;
}
.navbar-nav > li > a::after {
    background: #222;
}
/* End of navbar */

/* Start of header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 
    ), url(./../images/bg.jpg);
    background-position: 0px 0px;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: var(--primary-font), sans-serif;
}

.header h5 {
    font-size: 3.125rem;
    font-weight: 800;
    line-height: 3.4375rem;
    margin-bottom: .625rem;
}

.header h1 {
    font-size: 1.875rem;
    font-weight: 200;
    line-height: 2.25rem;
}
/* End of header */